@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ================= GLOBAL ================= */

* {
  font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
}

/* Active nav underline */
a.active hr {
  display: block;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (max-width: 640px) {
  a.active {
    background-color: black;
    color: white;
  }
}
